.achievements-section {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 2rem;
}

.achievements-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* 直近のイベント */
.events_container {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  position: relative;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.event > img {
  position: relative;
  width: 100%;
  aspect-ratio: 2;
  border-radius: 10px;
  object-fit: cover;
}

.event > div {
  position: absolute;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 5px 10px;
}

.event_date {
  font-size: 0.8rem;
  line-height: 0.5rem;
}

.event_name {
  font-size: 1.1rem;
}

/* タイムライン */
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 1rem;
}

.timeline {
  width: 80%;
  max-width: 600px;
  z-index: 1;
}

.timeline a {
  padding: 10px 20px;
  /* margin: 130px auto 0 auto; */
  margin: 30px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: all 0.3s;
  gap: 10px;
}

.timeline a:hover {
  background-color: #f0f0f0;
}

/* Spinner */
.spinner-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  z-index: 0;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
