.contact_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.message {
  font-size: 1.4rem;
  text-align: center;
}

.contact_button {
  width: fit-content;
  padding: 10px;
  background-color: #0C64FD;
  border: none;
  border-radius: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 10px;
  transition: all 0.3s;
}

.contact_button:hover {
  background-color: #084fcb;
}

/*レスポンシブ対応*/
@media (max-width: 768px) {
  .contact_wrapper div {
    font-size: 1.2rem;
  }
}

@media (max-width: 525px) {
  .contact_wrapper div {
    width: 300px;
  }

  .contact_button {
    font-size: 1.5rem;
  }
}
